.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;

  position: relative;
  padding: 3rem 1rem;
  background-color: #010e28;

  &::before {
    @include logomark;

    position: absolute;
    left: 50%;
    width: 2em;
    transform: translate(-50%, -100%);
    color: #010e28;
    background-color: var(--color-primary-alt);
    font-size: 3rem;
    content: "S";
  }

  p:first-child {
    margin-top: 3rem;
    font-weight: var(--font-weight-strong);
    letter-spacing: 0.03em;
  }

  p {
    color: var(--color-secondary);
  }

  p a {
    color: var(--color-primary-alt);
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
  }

  .container > :last-child {
    margin-bottom: 0;
  }
}
