header {
  display: grid;
  min-height: 80vh;
  place-items: center;
  padding: 0 2rem;
  color: var(--color-primary);

  h1 {
    color: var(--color-primary-alt);
    margin-bottom: 10px;
  }

  h2 {
    max-width: 30ch;
    color: var(--color-secondary);
  }
}
