@mixin logomark() {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid #010e28;
  place-content: center;
  font-weight: var(--font-weight-strong);
}
